button{
    width: 4em;/*设置按钮宽度*/
    height: 30px;/*设置按钮高度*/
    background-color:#ddd;/*按钮背景颜色*/
    border-radius: 3px;/*让按钮变得圆滑一点*/
    border-width: 0;/*消去按钮丑的边框*/
    margin: 0 2px;
    outline: none;/*取消轮廓*/
    text-align: center;/*字体居中*/
    cursor: pointer;/*设置鼠标箭头手势*/
}
button:hover{/*鼠标移动时的颜色变化*/
    background-color: #aaa;
}

.ctrl{
    padding-bottom: 4px;
}
